<div th:include="fragments/header :: navbar">
    <title id="pageTitle">Edit Game</title>
</div>

<div class="container-fluid">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>Edit Game</h1>
    <form action="#" th:action="@{'/game/update/' + ${command.id}}" th:object="${command}" method="POST" >
        <fieldset>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" th:field="*{title}" id="title"/>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" th:field="*{price}" id="price" />
            </div>

            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" class="form-control" th:field="*{link}" id="link" >
            </div>

            <div class="form-group">
                <label for="platformId">Please Select One</label>
                <select class="form-control" th:field="*{platform}" id="platformId">
                    <option value="0">Please Select One</option>
                    <option th:each="platform : ${platforms}" th:value="${platform.id}" th:text="${platform.name}"></option>
                </select>
            </div>

            <!--
            <p>Platform <select th:field="*{platform}">
                <option th:value="PC" th:text="PC"></option>
                <option th:value="PS4" th:text="PS4"></option>
                <option th:value="Switch" th:text="Switch"></option>
                <option th:value="XBox One" th:text="XBox One"></option>
                <option th:value="iTunes" th:text="iTunes"></option>
                <option th:value="Mobile" th:text="Mobile"></option>
                <option th:value="PS3" th:text="PS3"></option>
            </select></p>-->

           <!-- <p>Image: </p><input type="file" th:field="*{images}" multiple="multiple"/><br/><br/>-->

            <input type="hidden" th:field="*{createDate}" />


            <div class="form-group">
                <label for="description">Details about the Deal:</label>
                <textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </fieldset>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>