<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: headerFragment">
    <title id="pageTitle">Page title</title>
</head>
<body>
<header th:insert="fragments.html :: header"></header>

<div class="container-fluid">

    <form method="POST" action="/file/upload" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label path="file">Select a file to upload</label></td>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        </form>

</div>

<footer th:replace="fragments.html :: footer"></footer>
</body>
</html>